::-webkit-scrollbar { 
    display: none; 
}

#slide-show {
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  width: 90%;
  min-width: 90%!important;
}

.slide-text {
  font-size: 20px;
  color: #fff;
  text-align:center;
}

.slide-text b {
  font-weight:300; 
}
.slide-text h2 {
  font-weight:300;
  font-family: 'Josefin Sans', sans-serif;
  font-size:22px;
  text-align: center;
  line-height:1.5em;
  letter-spacing: 0;
  color: #fff;
  text-transform:uppercase;
}
.slidex {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  z-index: -1;

}
.activx {
  opacity: 1;
}
.slideshow-nav {
  position: absolute;
  bottom: 50%; 
  left: 4%;
  width:92%;
  min-width: 92%!important;
  background: transparent;  
}
.previousx {
  float: left;
}
.nextx {
  float: right;
}
.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7, .bg8, .bg9, .bg10, .bg11, .bg12, .bg13, .bg14, .bg15, .bg16, .bg17, .bg18, .bg19, .bg20 {
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center center !important;
  background-size: cover !important;
  background-image:url(../images/header/home-header/header-01.jpg);
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  width:96%;
  min-width: 96%!important;
  position: absolute;
  top:40px;
  left:2%;
}

.bg2 {background-image: url(../images/header/home-header/header-02.jpg);}
.bg3 { background-image: url(../images/header/home-header/header-03.jpg);}
.bg4 {background-image: url(../images/header/home-header/header-04.jpg);}
.bg5 {background-image: url(../images/header/home-header/header-05.jpg);}
.bg6 {background-image: url(../images/header/home-header/header-06.jpg);}
.bg7 {background-image: url(../images/header/home-header/header-07.jpg);}
.bg8 {background-image: url(../images/header/home-header/header-08.jpg);}
.bg9 {background-image: url(../images/header/home-header/header-09.jpg);}
.bg10 {background-image:url(../images/header/home-header/header-10.jpg);}
.bg11 {background-image:url(../images/header/home-header/header-11.jpg);}
.bg12 {background-image:url(../images/header/home-header/header-12.jpg);}
.bg13 {background-image:url(../images/header/home-header/header-13.jpg);}
.bg14 {background-image:url(../images/header/home-header/header-14.jpg);}
.bg15 {background-image:url(../images/header/home-header/header-15.jpg);}
.bg16 {background-image:url(../images/header/home-header/header-16.jpg);}
.bg17 {background-image:url(../images/header/home-header/header-17.jpg);}
.bg18 {background-image:url(../images/header/home-header/header-18.jpg);}
.bg19 {background-image:url(../images/header/home-header/header-19.jpg);}
.bg20 {background-image:url(../images/header/home-header/header-20.jpg);}

.slider-center {
  position: absolute;
  width:40%;
  left:30%;
  top:40%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  letter-spacing:0;
}
.nav-link {
  transition: all 0.4s;
  color:#000;
  opacity: 0.5;
  font-size:30px;
  background:#fff;
}
.nav-link:hover {
  color: #000;
  opacity: 1;
}
.arrow a {
  position: absolute;
  bottom:0;
  left: 50%;
  color: #fff;
  transition: all 0.4s;
  cursor: pointer;
  font-size:40px;
  padding: 0 0 10px 0;
  opacity: 0.2;
}
.arrow a:hover {
  color: #999;
  font-size:40px;
  opacity:1;
}
@media all and (max-width : 768px) {
.slide-text h2 {
font-weight:400;
font-size:16px;
}
.slider-center {
position: absolute;
width:100%;
bottom:8%;
letter-spacing:0;
}
}